.MuiAlert-message {
  font-weight: 600 !important;
}

.MuiButtonBase-root {
  border-radius: 40px !important;
}

.MuiOutlinedInput-root {
  /* border-radius: 30px !important; */
}

.textfield-small .MuiInputBase-inputMultiline {
  font-size: 0.8em !important;
  font-weight: 400;
  overflow-x: hidden !important;
  border-radius: 5px !important;
}

.textfield-small .MuiOutlinedInput-root {
  border-radius: 7px !important;
}
